* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth; /* scroll doux */
  font-family: Arial, sans-serif;
}

/*
p {
  z-index: 100;
}
*/

header {
  position: fixed;      
  top: 0;              
  left: 0;
  width: 100%;        
  background-color: rgba(255, 255, 255, 0.9); 
  z-index: 100;      
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 1rem 0;
}

.brand {
  display: flex;
  flex-direction: column; /* deux lignes */
  font-weight: bold;
  line-height: 1.2;
  font-size: 1rem;
}

.links {
  display: flex;
  gap: 1rem; /* espace régulier entre les liens */
}

.projects a {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

header nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

header nav a:hover {
  color: #2a7f62; /* couleur au survol */
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#about {
  background-color: #2a7f62;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/mountains.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.blur-half {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  backdrop-filter: blur(15px);
  z-index: 1;
}

.titre-net {
  position: absolute;
  top: 43%;
  left: 40%;
  transform: translate(-100%, -50%);
  font-size: 11rem;
  z-index: 2;
  color: transparent; 
  -webkit-background-clip: text; 
  background-clip: text; 
  background-image: url("img/mountains.jpg");
  background-size: 100vw 100vh;
  background-position: 23% 45%; /* Valeur relou à bouger à la moindre modif */
}

.titre-blanc {
  position: absolute;
  top: 57%;
  left: 40%; /* Placement de la bordure */ 
  transform: translate(-0%, -50%);
  font-size: 11rem;
  color: white;
  z-index: 2;
  text-shadow: 0 0 15px rgba(0,0,0,0.7);
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #abbaba;
  color: #000;
}