* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0d0f0e;
  color: #d8f3dc;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav a {
  color: #95d5b2;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #52b788;
}

.nav-center {
  display: flex;
  gap: 15px;
}

section {
  height: 100vh;
  padding: 120px 80px 40px;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero h1 {
  font-size: 5rem;
  color: #b7e4c7;
}

.content-block {
  max-width: 800px;
  margin-top: 40px;
  line-height: 1.6;
  font-size: 1.2rem;
}

#presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.interets-grid div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.card {
  background: #081c15;
  border-left: 4px solid #52b788;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  background: #0b241d;
  transform: translateY(-5px);
}

.skills {
  display: flex;
  gap: 80px;
}

.skills-list {
  list-style: none;
}

.skills-list li::before {
  content: "• ";
  color: #52b788;
}

footer {
  text-align: center;
  padding: 30px;
  background: #081c15;
  color: #95d5b2;
}
